.winner {
    background: url('../src/registro-bg.jpg') no-repeat center center/cover;
    padding: 2.5rem 1rem;
    min-height: 100vh;
}

.winner h2 {
    color: #EAC365;
    font-size: 3rem;
    font-family: 'Ciutadella-Bold';
}

.prize{
    max-width: 500px;
    min-width: 180px;
    display: flex;
    gap: 0.5rem;
    background-color: rgba(210, 165, 57, 0.5);
    border: 2px solid white;
    transition: ease;
    transition-duration: 1000ms;
    border-radius: 1rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
}

.prize:hover {
  background-color: rgba(210, 165, 57, 0.8);
  border: 2px solid #fff;
  border-radius: 1em;
  transition: ease;
  transition-duration: 1000ms;
}

.time img, .score img{
    width: 24px;
}

.time p, .score p{
    font-size: 2rem;
    font-family: 'Ciutadella-Bold';
}

.user-point{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

@media (max-width: 767.98px) {
    .prize{
    flex-direction: column;
    padding: 1.2rem;
    text-align: center;
}
    .winner h2 {
  font-size: 2.2rem;
}
    .winner {
    background: url('../src/registro-bg_mobile.jpg') no-repeat center center/cover;
    padding: 80px 20px;
    }
    .user-point{
    flex-direction: column;
    }
    .winner .h-empty {
    height: 20vh;
    }
}